<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/chaatapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chaatapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApplication"
        tools:targetApi="31">

        <activity
            android:name=".ChatAc"
            android:exported="false" />
        <activity
            android:name=".SearchUserAc"
            android:exported="false" />
        <activity
            android:name=".UserNameAc"
            android:exported="false" />
        <activity
            android:name=".OTPnumberAc"
            android:exported="false" />
        <activity
            android:name=".PhoneAc"
            android:exported="false" />
        <activity
            android:name=".LogoAc"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <service android:name=".FCMNotification" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </application>

</manifest>
